.container-all-products {
  display: flex;
  padding: 10px;
  background-color: antiquewhite;
  width: 100%;
  box-sizing: border-box;
}

.sidebar {
  width: 20%;
  padding-right: 20px;
  padding: 5px;
  margin-left: 150px;
}


.view-by-price,
.categories,
.brand {
  margin-bottom: 20px;
  margin-top: 20px;
}
.price-inputs {
  display: flex;
  justify-content: space-between;
}
#min-price,
#max-price {
  padding: 5px;
  width: 45%;
  outline: none;
  border: 1px solid #4caf50;
  border-radius: 5px;
}
.view-by-price label,
.categories label,
.brand label {
  display: block;
  margin-bottom: 5px;
}
.price-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 5px;
}
.categories input,
.brand input {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #4caf50;
}

.view-by-price label,
.categories label,
.brand label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: lighter;
}
.view-by-price button{
background-color: #4caf50;
border-radius: 5px;
border: none;
margin-left: 5px;
}
.categories,
.search-bar,
.brand,
.filter-by-price,
.view-by-price h3 {
  margin: 0;
  margin-bottom: 10px;

  font-weight: bold;
}
input[type="checkbox"] {
  margin-right: 5px;
}
input[type="range"] {
  width: 100%;
}
input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none; /* Xóa viền mặc định khi tập trung vào input */
  border: 1px solid #4caf50; /* Thêm viền mới với độ dày 2px và màu xanh lá */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Thêm bóng mờ nhẹ cho hiệu ứng nổi */
}
.all-products {
  width: 80%;
  margin-left: 50px;
  margin-right: 150px;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #ffebcd;
  padding: 10px;
  flex-shrink: 0;
}
.sort-view-section,
.product-search-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sort-view-section select,
.sort-view-section input,
.product-search-bar select,
.product-search-bar input[type="text"] {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  border: 1px solid #4caf50;
}

.view-options {
  display: flex;
  align-items: center;
}

.view-options button {
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  height: 25px;
  cursor: pointer;
}

.view-options button:last-child {
  margin-right: 0;
}
.hide-out-of-stock {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 50%;
}
.hide-out-of-stock label {
  margin: 0;
  white-space: nowrap;
}
.sort-view-section select {
  margin-right: 10px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
}
.product-container.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  border-bottom: 1px solid #4caf50;
  border-right: 1px solid #4caf50;
}

@media (max-width: 1200px) {
  .product-container.grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .product-container.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.product-grid {
  display: flex;
  border: 1px solid #4caf50;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  border-right: none;
  border-bottom: none;
  justify-content: space-between;
}
.product-list button,
.product-grid button {
  background-color: #4caf50;
  border: none;
  height: 20px;
  cursor: pointer;
}

.product-list {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  border: 1px solid #4caf50;
  border-bottom: none;
  padding: 20px;
}
.product-container.list {
  border-bottom: 1px solid #4caf50;
}

.product-list .product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-grid img,
.product-list img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.product-grid h3 {
  margin: 10px 0;
  font-size:small;
  font-weight: lighter;
  text-align: center;

}
.product-list h3 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: lighter;
}

.product-price {
  font-weight: bold;
  margin: 10px 0;
}

.product-rating {
  margin: 10px 0;
}

.button {
  margin-top: auto;
  padding: 5px 10px;
  background-color: #4caf50;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.pagination {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination button {
  background-color: #4caf50;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
