
.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  background-color:  #f4f4f4;
}

.forgot-password-box {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:   #fff;
}

.input-group2 {
  margin-bottom: 15px;
}

.input-group2 label {
  display: block;
  margin-bottom: 5px;
}

.input-group2 input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Đảm bảo rằng padding và border được tính trong chiều rộng */
  border: 1px solid red;
  border-radius: 5px;
  outline: none; /* Tắt đường viền mặc định khi focus */
}
.input-group2 input:focus {
  border: 1px solid red; /* Tăng độ dày của border khi focus */
}
.reset-password-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.link2 {
  margin-top: 10px;
  text-align: center;
}

.link2 Link {
  color: #007bff;
  text-decoration: none;
}
